<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNews - 404</title>
    <link rel="stylesheet" href="/404.css" />
</head>
<body>
    <h1>404</h1>
    <section class="main">
        <div class="left">
            <img src="/404.png" name="Not found :(" width="230px" />
        </div>

        <div class="right">
            <div class="info">
                <h1>Que pena!</h1>
                <p>A pagina que você esta tentando acessar não esta disponível.</p>

                <button onclick="window.location.href='/'"><span>Voltar ao inicio</span></button>
            </div>
        </div>
    </section>
</body>
</html>