<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNews - Cadastrar notícia</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/cadastro-news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- NavBar -->
    <section class="header">
        <div class="links">
            <a href="/">Home</a>
        </div>

        <div class="rightItems">
            <button onclick="PerfilMenu();" id="perfilBtn"><i class="fa fa-lock" id="perfilBtn"></i> PERFIL</button>
        </div>

        <!-- Perfil window -->
        <% if(result == 1) { %>
            <div id="perfil-wind" class="perfil-info arrow-up" id="inside">
                <span>Olá <%= login %></span>
                <hr>
                <a href="javascript:void(0);">Nova Notícia</a>
                <hr>
                <button onclick="window.location.href='/logout'" class="register" id="inside"><i class="fa fa-door-open" id="inside"></i> Sair</button>
            </div>
        <% } %>
    </section>

    <section class="cadPage">
        <div class="form">
            <h1>Registrar uma notícia</h1>

            <form action="/regNews" method="post" enctype="multipart/form-data" name="regnews" id="regnews">
                <input type="text" name="title" id="title" maxlength="23" required />
                <label for="title" class="Title">Título</label>
                <input type="text" name="subtitle" id="subtitle" required />
                <label for="subtitle" class="subTitle">Sub Título</label>
                <textarea name="content" id="content" cols="100" rows="12" placeholder="Texto Aqui *" required ></textarea>
                
                <input type="file" name="image" id="file-input" accept="image/png, image/jpeg" >
                <label for="file-input" id="file-label"></label><br>

                <span>Campos com * são obrigatórios!</span>
                <button type="submit"><i class="fa fa-flag-checkered"></i> Enviar</button>
            </form>
        </div>
    </section>

    <!-- JS -->
    <script src="/dropMenus.js"></script>
    <script>
        CKEDITOR.replace( 'content' );
    </script>

    <% if(msg !== "") {%>
        <script>alert('<%= msg %>');</script>
    <% }%>
</body>
</html>